<form method="post" action="{{ path('delete_event', {'id': calendar.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet evenement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
    <button class="btn">Supprimer</button>
</form>
