<form method="post" action="{{ path('delete_reservation_event', {'id': events_reservation.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette reservation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ events_reservation.id) }}">
    <button class="btn">Supprimer</button>
</form>
