{% extends "base/base_BACK.html.twig" %}
{% block back_content %}
    {% block body %}
    <h1>Modification d'une reservation</h1>

    {{ include('Reservation_event/Reservation_form.html.twig', {'button_label': 'Modifier'}) }}

    

    
    <a href="{{ path('show_reservation_event') }}">Retour a la liste</a>
{% endblock %}
{% endblock %}
{% block back_footer %}
{% endblock %}

